<div id="mail-list" class="list-group">
	{% for key, item in mails %}
		<a href="{{path('mail_show',{id:key}) }}" class="list-group-item btn-live-target mail-" data-text-loading="toto"  data-seen="{{ item.seen }}" data-flag="{{ item.flagged }}" data-answered="{{ item.answered }}" data-target="#mail-container">
			<div class="text-muted">{{ item.udate | maildate }}</div>
			<span class="subject">{{ item.subject }}</span>
		</a>
	{% endfor %}
</div>