<div class="p-c-v">
	{{ btn_mail(id) }}
</div>
<div class="alert bg-5 p-c m-c-b">
	<h1><strong>{{ mail.subject }}</strong></h1>
	<h2>{{ mail.fromName }} <span class="pull-right text-muted">{{ mail.date | date('D d M y H:i') }}</span>	</h2>
	
</div>
<div class="alert bg-5 p-c m-c-b">
	<pre>{{ mail.textPlain }}</pre>
</div>